.primaria:hover h3{
    ont-style: italic;
    border: 5px solid rgb(255, 0, 0);
}

.secundaria:hover h3{
    border: 5px solid rgb(238, 255, 0);
}

.complementar:hover h3{
    border: 5px solid rgb(183, 0, 255);
    font-size: 2em;
    font-style: italic;
}

.escura:hover h3{
    border: 5px solid rgb(51, 0, 9);
} 

.clara:hover h3{
    font-style: italic;
    border: 5px solid rgb(112, 255, 243);
} 