h1 {
    font-size: 65px; 
    color: orange;
    font-family: sans-serif;
    line-height: 15px;
    text-align: center;
}

li {
    background-color:rgb(200, 303, 156);
}

.favoritaUnor{
    background-color: #7813e2;
    font-style: italic;
    
}

p {
    font-size: 3em;
    font-weight: 600;
    text-decoration: underline;
}

body {
    font-size: 16px;
}

#yellow {
    background-color: yellow;
}

#red {
    background-color: red;
}

#brown {
    background-color: brown;
}
