ol li:nth-child(odd){
    text-transform: uppercase;
}
ol li:nth-child(even){
    color: green;
}
h1, h2, h3{
    color: red;
}
h1 em{
    font-size: 40px;
    border: 1px solid black;

}
li em{
    font-weight: bolder;
    font-size: 20px;
}
ul li{
    color: blue;
}
ul a:hover{
    font-weight: bolder;
}
#StackOverflow:hover{
    color: orange;
}
#W3Schools:hover{
    color: green;
}
#MDNWebDocs:hover{
    color: black;
}
#DevDocs:hover{
    color: yellow;
}
#Trybe:hover{
    color: green;
}