
.centered{
    margin: 0 auto;
}

p{
    color: #333;
    font-family: Georgia,Times New Roman,Times,serif;
    font-weight: 400;
    font-size: 19px;
    line-height: 1.632;
    letter-spacing: .1px;
    margin-bottom: 24px;
}

h2, h3{
    font-weight: 400;
    color: #000;
    font-family: GeoEditBold,Franklin Gothic Medium,Franklin Gothic,ITC Franklin Gothic,Helvetica,Arial,sans-serif;
    font-size: 38px;
    
}

h3{
    font-size: 22px;
}

.image{
    max-width: 100%;
}

.navBar{
    border-bottom: 1px solid gray;
}

nav ul{
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li{
    list-style-type: none;
    padding-top: 10px;
    padding-bottom: 0;
    padding: 5px 10px;
    text-decoration: none;
}

nav ul li a:hover{
    background-color: gray;
}